<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>full.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>proactive_dispatch_c.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>train.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9399E6901E93F871008D2164</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9399E6B61E93F8BC008D2164</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9399E6CC1E93F981008D2164</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93FDA7F61EAF8D67007CE897</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
